@using ViewModels
@model IEnumerable<ViewModels.EspecialidadViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Crear especialidad</a>
</p>

<div class="card">
    <div class=" bg-info text-light card-header">
        Listado de Especialidades
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>


